## File Handling

#### 1.Program to read first 5 characters from the file

In [1]:
f = open('my_data.txt','r')
f.read(5)

'Chenn'

In [2]:
f.close()

#### 2.Program to read first line from the file

In [5]:
f = open('my_data.txt','r+')
print(f.readline())

Chennai: The skies in Chennai are likely to remain generally cloudy on Tuesday, December 13 while moderate rainfall will lash the city. Heavy rain along with thunderstorms and lightning is expected at one or two places today, the Regional Meteorological Centre (RMC Chennai) said.

In [6]:
f.close()

#### 3. Program to display number of lines in a file

In [8]:
f=open('my_data.txt','r')
print(f.read())

Chennai: The skies in Chennai are likely to remain generally cloudy on Tuesday, December 13 while moderate rainfall will lash the city. Heavy rain along with thunderstorms and lightning is expected at one or two places today, the Regional Meteorological Centre (RMC Chennai) said.
The maximum temperature in the city is expected to be around 28-29 degrees celsius while the minimum temperature is likely to settle around 23-24 today. The RMC has also issued a warning about moderate rainfall with thunderstorms and lightning likely to occur.

Chennai and several other parts of Tamil Nadu have been witnessing significant rainfall in the past few days due to the Mandous cyclone. Schools in some districts including Tiruvallur and Uthukottai Taluks apart from the Kancheepuram district have declared a rain holiday today.

In [10]:
f.close()

In [9]:
f=open('my_data.txt','r')
print(len(f.readlines()))
f.close()

4

#### 4.Program to display first line from the file using readlines()

In [12]:
f=open('my_data.txt','r')
print(f.readlines(1))

['Chennai: The skies in Chennai are likely to remain generally cloudy on Tuesday, December 13 while moderate rainfall will lash the city. Heavy rain along with thunderstorms and lightning is expected at one or two places today, the Regional Meteorological Centre (RMC Chennai) said.\n']

In [13]:
f.close()

##### 5.Program to accept five names from the user and write in a file

In [1]:
f = open('username.txt','w+')
f.write('1.Raj 2.Kumar 3.Krishna 4.Vasu 5.Govind')

39

In [2]:
f.seek(0)

0

In [3]:
print(f.read())

1.Raj 2.Kumar 3.Krishna 4.Vasu 5.Govind

In [4]:
f.close()

##### 6.Program to accept five language names from the user and write in a file

In [5]:
f = open('language.txt','w+')
f.write('Tamil Hindi English Malayalam Telugu')

36

In [6]:
f.seek(0)

0

In [7]:
print(f.read())

Tamil Hindi English Malayalam Telugu

In [8]:
f.close()

##### 7.Program to accept five hobbies from the user

In [14]:
f = open('hobby.txt','w+')
f.writelines(['Gaming'])
f.writelines(['Painting'])
f.writelines(['Reading'])
f.writelines(['Gardening'])
f.writelines(['Cooking'])

In [15]:
f.close()

In [16]:
f = open('hobby.txt','r')
print(f.read())
f.close()

GamingPaintingReadingGardeningCooking

##### 8.Program to count the upper-case alphabets present in a text file

In [1]:
f = open('article.txt','w+')

In [2]:
f.write('Python is a Programming Language')
f.close()

In [14]:
uppercount=0
f=open('article.txt','r+')
while True:
    data=f.read(1)   
    if data=='':
        break
    if ord(data)>=65 and ord(data)<=90:
        uppercount+=1

print('Total number of uppercase :',uppercount)

Total number of uppercase : 3

In [3]:
f.close()

##### 9.Program to count the lower-case alphabets present in a text file

In [13]:
f=open('article.txt','r+')
lowercase=0
data=f.read()  
for i in data:
    if i.islower():  
        lowercase+=1
        
print('Total Number of lowercase : ',lowercase)

Total Number of lowercase :  25

In [15]:
f.close()

##### 10.Program to count the words 'To' and 'the' present in the file

In [31]:
f=open('article.txt','r+')
f.write(' The Python language has many different types of statements like assignment statements, conditional statements, looping statements, etc that help a programmer get the desired output.')
f.close()

In [32]:
f=open('article.txt','r+')
f.read()

' The Python language has many different types of statements like assignment statements, conditional statements, looping statements, etc that help a programmer get the desired output.rogrammer get the desired output. The Python language has many different types of statements like assignment statements, conditional statements, looping statements, etc., that help a programmer get the desired output. The Python language has many different types of statements like assignment statements, conditional statements, looping statements, etc that help a programmer get the desired output.'

In [33]:
f.close()

In [1]:
f=open('article.txt','r+')
data = f.read()
word1= data.count('to')
word2=data.count('the')
word3=data.count('The')
print('The number of words To : ',word1)
print('The number of words the : ',word2+word3)

f.close()

The number of words To :  0
The number of words the :  7